extends layout

block content
        ul.list-group
            each article, i in articles
                li.list-group-item
                    a(href="/articles/content/"+article._id)= article.title