doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    |     
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")  
    title Blog
    link(href="bower_components/boostrap/dist/css/bootstrap.min.css", rel="stylesheet")
  |   
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href="/") Blog
      |       
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      |       
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="#")
              | Home 
              span.sr-only (current)
          |           
          li.nav-item
            a.nav-link(href="#") Link
          |           
          li.nav-item
            a.nav-link.disabled(href="#") Disabled
          |           
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href="http://example.com", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Dropdown
            |             
            .dropdown-menu(aria-labelledby="dropdown01")
              a.dropdown-item(href="#") Action
              |               
              a.dropdown-item(href="#") Another action
              |               
              a.dropdown-item(href="#") Something else here
        |         
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type="text", placeholder="Search", aria-label="Search")
          |           
          button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
    |     
    main.container(role="main")
      .starter-template
        h1 Bootstrap starter template
        |         
        p.lead
          block content
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/boostrap/dist/js/bootstrap.min.js")
